BinarySearch/obj/Debug/BinarySearch.exe
*.pdb
*.cache
BinarySearch/bin/Debug/BinarySearch.exe
.vs/Searching/xs/UserPrefs.xml
*.ide-wal
*.ide-shm
*.ide
*.lock
*.cache
*.lock
*.ide
*.ide-shm
*.ide-wal
*.xml
BinarySearch/obj/Debug/BinarySearch.csproj.FileListAbsolute.txt
BinarySearch/obj/Debug/BinarySearch.exe
BinarySearch/obj/Debug/BinarySearch.csproj.FileListAbsolute.txt
*.pdb
*.exe
BinarySearch/obj/Debug/BinarySearch.csproj.FileListAbsolute.txt
BinarySearch/obj/Debug/BinarySearch.csproj.FileListAbsolute.txt
*.exe
.vs/SearchingAndSorting/xs/UserPrefs.xml
*.exe
.vs/SearchingAndSorting/xs/UserPrefs.xml
SelectionSort/bin/Debug/SelectionSort.exe
SelectionSort/obj/Debug/SelectionSort.exe
SelectionSort/obj/Debug/SelectionSort.exe
SelectionSort/bin/Debug/SelectionSort.exe
MergeSort/Properties/AssemblyInfo.cs
MergeSort/obj/Debug/MergeSort.csproj.FileListAbsolute.txt
.vs/SearchingAndSorting/xs/UserPrefs.xml
*.exe
.vs/SearchingAndSorting/xs/UserPrefs.xml
MergeSort/Properties/AssemblyInfo.cs
SelectionSort/obj/Debug/SelectionSort.exe
